// @internal

@font-face {
  font-family: "mxi"; /* Project id 2600844 */
  src:
    url('//at.alicdn.com/t/font_2600844_4upn70q1eb6.woff2?t=1624028654410') format('woff2'),
    url('//at.alicdn.com/t/font_2600844_4upn70q1eb6.woff?t=1624028654410') format('woff'),
    url('//at.alicdn.com/t/font_2600844_4upn70q1eb6.ttf?t=1624028654410') format('truetype');
}

.mxi {
  font-family: "mxi" !important; // stylelint-disable font-family-no-missing-generic-family-keyword
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mxi-share::before {
  content: "\e65b";
}

.mxi-home::before {
  content: "\e604";
}

.mxi-cart::before {
  content: "\e606";
}

.mxi-arrow-down::before {
  content: "\e60a";
}

.mxi-arrow-up::before {
  content: "\e60b";
}

.mxi-chevron-down::before {
  content: "\e65c";
}

.mxi-arrow-left::before {
  content: "\e60c";
}

.mxi-arrow-right::before {
  content: "\e609";
}
